<form class="was-validated">
  <div class="mb-3">
    <label for="validationTextarea">JSON</label>
    <textarea [(ngModel)]="data" name="json-view" #textarea class="form-control is-invalid" id="validationTextarea"
      required></textarea>
  </div>
</form>
<div class="btn-group btn-container" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" (click)="onBackClick()" >Back</button>
</div>