<div class="table-container row align-items-center">
  <table *ngIf="data.length > 0" class="table table-hover table-bordered ">
    <thead>
      <tr>
        <ng-container *ngFor="let column of displayedColumns">
          <th scope="col">{{column}}</th>
        </ng-container>
        <th scope="col">Action</th>
      </tr> 
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let item of data">
        <td *ngFor="let column of displayedColumns">
          <input [(ngModel)]="item[column]" [disabled]="!item.isEditable" type="text">
        </td>
        <td>
          <button *ngIf="!item.isEditable" (click)="onEditClick(item)" type="button" class="btn btn-dark">EDIT</button>
          <button *ngIf="item.isEditable" (click)="onSaveClick(item)" type="button" class="btn btn-dark">SAVE</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="data.length === 0">
    <h3>NO DATA TO SHOW</h3>
  </div>
</div>
<div class="btn-container">
  <button type="button" class="btn btn-lg btn-primary" (click)="onBackClick()">BACK</button>
  <button type="button" class="btn btn-lg btn-primary" (click)="onShowClick()">SHOW</button>
</div>