<form class="was-validated">
  <div class="mb-3">
    <label for="validationTextarea">ENTER YOUR JSON</label>
    <textarea #textarea class="form-control is-invalid" id="validationTextarea" placeholder="Required example textarea"
      required></textarea>
  </div>
</form>
<div class="btn-group btn-container" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-primary" (click)="onTextSubmit(textarea.value)" >Primary</button>
</div>